.WeddingPage {
    height: 100vh;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
html{
    scroll-behavior:smooth;
  }
  
.WeddingPage::-webkit-scrollbar{
    display:none;
    position: fixed;
    overflow: scroll;
}
.videopart{
    background-image: url("./images/Bespoke\ Jewellery\ -\ David\ Morris.mp4");
}

.jeweller {
    padding: 115px 0 115px;
    position: relative;
    z-index: 3;
    background:#fff;
}
.jeweller__container {
    padding: 0 110px;
    margin-left: auto;
    margin-right: auto;
}
.bridal__list {
    margin-bottom: 30px;
}
.bridal__row:not(:last-child) {
    margin-bottom: 150px;
}

.bridal__row:nth-child(2n-1) {
    flex-direction: row;
}
.bridal__row {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.img-container {
    display: grid;
    overflow: hidden;
}
.bridal__left img {
    width: 100%;
}

.img-container img {
    height: auto;
}
img {
    display: block;
    max-width: 100%;
}
.bridal__name {
    width: 100%;
    text-align: left;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 32px;
    color: #0D2A39;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.bridal__text {
    text-align: left;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    color: #535353;
}
.bridal__btn {
    text-transform: uppercase;
}

.bridal__btn {
    margin-right: auto;
    color: #0D2A39;
}
.line-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
}
.bridal__left {
    width: 42%;
}


.bridal__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.bridal__left2 img {
    width: 100%;

}    
.bridal__left2 {
    width: 42%;
}
.bridal__right2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2200px;
    width: 40%;
}
.jeweller__cites {
    background: #fff;
    margin: auto;
    position: relative;
    padding: 67px 110px 67px 110px;
    font-family:'Cinzel';

}
.jeweller__cite {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
}
.jeweller__cite, .jeweller__cite>p {
    text-align: center;
    color:#535353;
    letter-spacing: 1px;
}
.bridal__button {
    margin-top: 77px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 1px;
}

.line-button {
    color: #0D2A39;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
}